/* RESET */
* {
    margin: 0%;
    padding: 0%;
}

/* TIPOGRAFIAS */
@font-face {
    font-family: "beaufort-italic";
    src: url(../recursos/tipografias/BeaufortForLoL-TTF/BeaufortForLoL-TTF/BeaufortforLOL-Italic.ttf);
    font-style: italic;
    font-weight: bolder;
}

@font-face {
    font-family: "speigel-texto";
    src: url(../recursos/tipografias/Spiegel-TTF/Spiegel_TT_Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "beaufort-mediumitalic";
    src: url(../recursos/tipografias/BeaufortForLoL-TTF/BeaufortForLoL-TTF/BeaufortforLOL-MediumItalic.ttf);
    font-style: italic;
    font-weight: medium;
}

/* BODY */

body {
    background-color: #cdfafa;
}

p {
    font-family: speigel-texto;
}

img {
    image-rendering: optimizeQuality;
}

h1      {
    font-family: beaufort-italic;
}

h2      {
    font-family: beaufort-italic;
}

h3      {
    font-family: beaufort-mediumitalic;
}

.texto-a{
    text-decoration: none;
    color:blue;
    
}



/* HEADER */

header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #0a1428;
    top: 0;
    left: 0;
    position: sticky;
    justify-content: space-between;
}


.imagenlogolol {
    width: 180px;
    height: fit-content;
}

header nav ul {
    display: flex;
    margin: 10px;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    /* color:; */
}

li {
    list-style: none;
    padding: 10px;
}

.nav-celular{
    display: none;
}



/* MAIN */

.maindecomojugarlo{
    background-image: url(../recursos/imagenes/wp-2.jpg);
    width: 100%;
    height: 100%; 
    background-size: cover; 
    background-position: center;
    position: sticky; 
}
.maindecomojugarlo p {
    color: black;
    font-weight: bold;
}
.maindecomojugarlo h2{
    font-weight: bolder;
}

.maindecomojugarlo h3{
    font-weight: bolder;
}

.maindellore    {
    background-image: url(../recursos/imagenes/demacia.png);
    width: 100%;
    height: 100vh; 
    background-size: cover; 
    background-position: center;
    position: sticky; 
}

.hero {
    padding: 50px;
    margin: 100px;
}

h1 {
    font-family: beaufort-italic;
    font-size: 60px;
    text-align: center;
}

/* .hero1  usar cuando se necesite  */
.queeslol {
    font-family: beaufort-italic;
    font-size: 50px;
    display: flex;
    text-align: center;
    padding: 10px;
}

.seabienvenido {
    font-size: 18px;
    color: #c89b3c;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.infolol {
    margin: 20px;
}


.carruselpersonajes p {
    text-align: center;
    padding: 10px;
}

.carruselpersonajes p a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    color: blue;
}

.carruselpersonajes img {
    width: fit-content;
    height: 300px;
    padding: 5px;
    display: flex;
    justify-content: center
}

#carouselExampleSlidesOnly {
    width: fit-content; /* Ajusta el ancho del carrusel según el contenido */
    height: 300px; /* Establece una altura fija para el carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente en su contenedor */
}

.extras {
    margin: 100px;
}

.extras h2      {
    font-weight: bold;
    font-size: 35px;
}

.descarga a     {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.descarga h3    {
    padding: 15px;
    text-align: center;
}

.descarga span  {
    font-weight: bold;
}

.equiposcomposicionesyconsejos{
    padding: 100px;
}
.equiposcomposicionesyconsejos p{
    padding: 10px;
}
.equiposcomposicionesyconsejos {
    text-align: center; /* Alinea el contenido del contenedor al centro */
  }
  
.equiposcomposicionesyconsejos img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Establece márgenes automáticos a izquierda y derecha para centrar la imagen horizontalmente */
  }

#rangos h3{
text-align: center;
  }

#momentosdelgame h3{
text-align: center;
}



/* FORMULARIO */

h2 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input [type="text"],
input [type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button [type="reset"] {
    background-color: #f44336;
}

button [type="submit"]:hover,
button [type="reset"]:hover {
    background-color: #45a049;
}

button [type="submit"]:focus,
button [type="reset"]:focus {
    outline: none;
}

button [type="submit"]:focus,
button [type="reset"]:focus {
    outline: none;
}

/* FOOTER */
footer{background-color: #CDFAFA;}

footer h2 {
    font-family: "Times New Roman", Times, Impact, "Arial Narrow Bold", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.redeslink {
    display: flex;
    justify-content: space-evenly;
}

.logolol {
    width: 50px;
    height: fit-content;
}

.creditos {
    text-align: center;
    padding-top: 100px;
}

.nombre {
    color: blueviolet;
    font-size: 18px;
    font-weight: bolder;
    font-family: beaufort-mediumitalic;
}



/* MEDIAS QUERYS  (IPHONE X)*/

@media (max-width:576px){

    /* BODY */
    /* CIERRE BODY */



    /* HEADER */

        .nav-celular button {
            background-color: transparent; /* Fondo transparente */
            border: none; /* Sin borde */
            box-shadow: none; /* Sin sombra */
            padding: 0; /* Sin espacio de relleno */
            margin: 0; /* Sin margen */
            font-size: inherit; /* Tamaño de fuente heredado */
            color: gold; /* Color de texto heredado */
        }
    
    
        .nav-computadora{
            display: none;
        }

        .nav-celular{
            display: block;
        }

        
        .imagenlogolol {
            width: 120px;
            justify-content: center;
        }
    /* CIERRE HEADER */

        /* MAIN */
                  
        h1 {font-size: 40px;}

        .hero {
            padding: 30px;
            margin: 20px;
        }     

        .queeslol{
            font-size: 40px;
        }

        .extras {
            margin: 50px;
        }
        
        

        /* CIERRE MAIN */



}
