


// VARIABLES DE FUENTES
@font-face {
    font-family: "beaufort-italic";
    src: url(../recursos/tipografias/BeaufortForLoL-TTF/BeaufortForLoL-TTF/BeaufortforLOL-Italic.ttf);
    font-style: italic;
    font-weight: bolder;
}

@font-face {
    font-family: "speigel-texto";
    src: url(../recursos/tipografias/Spiegel-TTF/Spiegel_TT_Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "beaufort-mediumitalic";
    src: url(../recursos/tipografias/BeaufortForLoL-TTF/BeaufortForLoL-TTF/BeaufortforLOL-MediumItalic.ttf);
    font-style: italic;
    font-weight: medium;
}

// VARIABLES DE COLORES
$color-runaterra: #5b9ad4;
$color-islas-sombra: #483d8b;
$color-freljord: #b0e0e6;
$color-piltover-zaun: #c0c0c0;
$color-potencias: #8b4513;
$color-campeones: #32cd32;
$color-conflictos: #ff6347;
$color-eventos: #ffd700;
$color-misterios: #9400d3;



