@media (max-width: 576px) {
    /* Estilos para el cuerpo principal */
    body main {
        form {
            max-width: 100%; /* Cambiado para ajustar al ancho de la pantalla */
        }
        h1 {
            font-size: 40px; /* Reducción del tamaño del título */
            text-align: center; /* Centrado del texto */
        }
    }

    /* Estilos para el header */
    header {
        height: auto; /* Ajuste de altura automática */
        flex-direction: column; /* Cambio de dirección de flexbox */
        align-items: center; /* Centrado de elementos */
        .imagenlogolol {
            width: 120px; /* Reducción del tamaño del logo */
        }
        nav {
            display: none; /* Ocultar el menú de navegación principal */
        }
        .nav-celular {
            display: block; /* Mostrar el menú de navegación para dispositivos móviles */
        }
    }

    /* Estilos para el footer */
    footer {
        .redeslink {
            flex-direction: column; /* Cambio de dirección de flexbox para redes sociales */
            align-items: center; /* Centrado de elementos */
        }
        .logolol {
            width: 50px; /* Reducción del tamaño del logo de League of Legends */
        }
    }

    /* Estilos para .equiposcomposicionesyconsejos */
    .equiposcomposicionesyconsejos img {
        max-width: 100%; /* Ajuste del ancho máximo de las imágenes */
        height: auto; /* Ajuste de la altura automática */
    }
}
