/* Estilos generales */
/* Estilos generales */

body {
    color: black;
}

/* Estilos para párrafos */
p {
    font-family: speigel-texto;
    font-weight: 600;
    font-size: 22px;
}

/* Estilos para imágenes */
img {
    image-rendering: optimizeQuality;
}

/* Estilos para encabezados h1 y h2 */
h1,
h2 {
    font-family: beaufort-italic;
    font-weight: bolder;
}

/* Estilos para encabezados h3 */
h3 {
    font-family: beaufort-mediumitalic;
    font-weight: bold;
}

/* Estilos para enlaces de texto */
.texto-a {
    text-decoration: none;
    color: blue;
}

/* Estilos para elementos de lista */
li {
    font-size: 22px;
}
